*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   background-image: url(./img/portada.jpg);
   width: 100%;
   height: 600px;
}
.img1{
    width: 70px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}
nav{
    background-color:#fff;
    height: 57px;
    display: flex;
}
.nav{
    height: 20px;
    padding-top: 20px;
}
a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.text-hader{
    color: #ffff;
    padding: 340px 0px 0px 100px;
    width: 510px;
    font-size: 20px;
    padding-bottom: 50px;
}
.botones{
    padding-left: 40px;
    padding: 20px;
}
.boton1{
    border-radius: 7px;
    color: white;
    width: 150px;
    height: 40px;
    background-color: #35ba29;
    border: 2px solid;
    cursor: pointer;
}
.juegos-destacados{
    background-color: #b3b3b3;
    text-align: center;
    padding: 50px;
    font-size: 30px;
}
.juegos{
    display: flex;
    position: relative;
     text-align: center;
}
.img2{
   width: 302.4px;
    height: 302px;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    cursor: pointer;
}
.hover-img{
    position: absolute;
    width: 302px;
    height: 302px;
    top: 0;
    transform: scale(0);
    background: hsl(115deg 64% 45% / 42%);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
.hover-img img{
    width: 70px;
}
.imghover:hover .hover-img{
    transform: scale(1);
}
.todos-los-juegos{
    background: rgb(25,96,0);
    background: linear-gradient(90deg, rgba(25,96,0,1) 0%,
     rgba(42,177,31,0.9852914222873901) 51%);
     font-size: 30px;
     text-align: center;
     padding-top: 40px;
     color: #fff;
}
.explora{
    padding: 30px;
    text-align: center;
}
.img3{
    height: 350.64px;
    width: 290.64px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.suscription{
    padding: 30px;
    background-color: #b3b3b317;
    display: flex;
}
.text{
    padding: 30px;
}
.text h1{
    font-size: 25px;
    margin-bottom: 20px;
}
.text h3{
    font-weight: 200;
}
.llenar{
    padding: 30px;
}
.email{
    width: 280px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 100px;
}
.llenar button{
    width: 150px;
    height: 40px;
    margin: 20px 0px;
    background: #b3b3b3b3;
    border-radius: 10px;
    border: 2px solid;
    cursor: pointer;
}
footer{
    background-color: #000;
    color:#fff;
    padding: 10px;
}
.texto1{
    display: flex;
    text-align: center;
    margin-top: 20px;
    padding: 30px 200px;
}
.texto1 h4{
    padding: 0px 40px
}
.texto2{
    display: flex;
    padding: 0px 370px 0px 398px;
}
.texto2 h5{
    font-weight: 100;
    padding: 0px 15px;
}
.iconos{
    display: flex;
    padding: 10px 500px;
}
i{
    margin-left: 10px;
    font-size: 27px;
}