@media screen and (max-width:1007px){
    header{
        background-position: left;
        width: 100%;
        height: 580px;
     }
     .img2{
        width: 250px;
         height: 200px;
         margin: 10px;
         border-radius: 10px;
         object-fit: cover;
         display: block;
         cursor: pointer;
     }
     .explora{
         padding: 30px;
         text-align: center;
     }
     .img3{
         height: 250px;
         width: 190px;
         margin: 5px;
     
     }
     
     footer{
         background-color: #000;
         color:#fff;
         padding: 10px;
     }
     .texto1{
         display: flex;
         text-align: center;
         margin-top: 10px;
         padding: 30px 90px;
     }
     .texto1 h4{
         padding: 0px 30px
     }
     .texto2{
         display: flex;
         padding: 0px 220px 0px 288px;
     }
     .texto2 h5{
         font-weight: 100;
         padding: 0px 10px;
     }
     .iconos{
         display: flex;
         padding: 10px 400px;
     }
     i{
         margin-left: 10px;
         font-size: 27px;
     }
     
}
  